[Unit]
Description=Springboot application
After=syslog.target

[Service]
User={{ spring_user }}
Group={{ spring_group }}
ExecStart=/opt/{{ spring_folder }}/config/startup.sh
ExecStop=/opt/{{ spring_folder }}/config/shutdown.sh
EnvironmentFile=/opt/{{ spring_folder }}/config/setenv.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
