[Unit]
Description=Tomcat 8.5 servlet container
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment="CATALINE_BASE=/opt/{{ tomcat_folder }}/"
Environment="CATALINA_HOME=/opt/{{ tomcat_folder }}/"

ExecStart=/opt/{{ tomcat_folder }}/bin/startup.sh
ExecStop=/opt/{{ tomcat_folder }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
